<%= render 'layouts/header' %>
<style>
    p.storename{ 
        position: absolute;
        top: 80px;
        left: 350px;
        width: 550px;
        height: 25px;
        padding: 0px;
        font-weight: bold;
        font-size: 20px;
        text-align: right;
        }
</style>

<p class="storename">Store: <%= session[:storeid]%> <%= session[:storename] %></p>


<!--Actions bar -->
<table class="table_actionbar">
  <tr>
    <td style="width:33%"><strong>Actions:</strong></td>
    <td style="width:33%"><%= button_to "Back", user_path(params[:id]), {params: {id: params[:id],storeid: session[:storeid],storename: session[:storename]}, :method => :get, style: "width:100%"} %></td>
    <td style="width:33%"><%= button_to "Submit", {controller:"cscorder", action:"update", id: params[:id]}, {params: {id: params[:id],storeid: session[:storeid],storename: session[:storename]}, :method => :put, :disabled => @flg, style: "width:100%"}%></td>
   </tr>
</table>

<!-- Header -->
<table class= "table3">
    <col style="width:30%">
    <col style="width:50%">
    <tr class="table3">
       <td>Menu: <%= @t2.mcode %></td>
       <td>Status: <%= set_ordsts_txt(@t2.ordsts) %></td> 
    </tr>
        
    </tr class="table3">
       <td>Wh Delivery Date: <%= @t2.dte.strftime("%m/%d/%y") %></td>
       <td>Submitted: <%if @t2.submitted_dte.nil? %>
                       <% else %>
                           <%= format_datetime_as_EST(@t2.submitted_dte) %>, <%= @t2.submitted_by %>
                       <% end %>
                        </td>
    </tr>
</table>


<!-- Menu items -->
       
    <table class="table2">
       <tr class="tableheader1">
            <th style="width:20%">Category</th>
            <th style="width:10%,">Item</th>
            <th style="width:25%">Description</th>
            <th style="width:6%">Sell Prc</th>
            <th style="width:4%">UofM</th>
            <th style="width:5%">Prev Ords</th>
            <th style="width:5%">Avg Ord</th>
            <th style="width:5%">Avg Wst</th>
            <th style="width:5%">Sug Ord</th>
            <th style="width:5%">Qty Ord</th>
            <th style="width:5%">Change To</th>
            <th style="width:5%"></th>
            <th style="width:0%"></th>
            <th style="width:0%"></th>
        </tr>  
        
       
        <% @t.each do |tbl| %>
            
            <%= form_tag({controller:"cscorderli", action:"update", id: tbl.id, anchor1: tbl.itemnmbr}, {method:"put",}) do %>
                <tr>
                    
                    <td><%= tbl.category %></td>
                    <td><a name= <%= tbl.itemnmbr%>><<%tbl.itemnmbr%>></a></td>
                    <td><%= tbl.itemdesc %></td>
                    <td><%= number_with_precision(tbl.selprc,precision:2) %></td>
                    <td><%= tbl.uofm %></td>
                    <td><%= tbl.h_ord %></td>
                    <td><%= tbl.h_avgord %></td>
                    <td><%= tbl.h_avgwst %></td>
                    <td><%= tbl.h_sugord %></td>
                    <td><%= tbl.qtyord %></td>
                    <td><%= text_field_tag('newqty',nil,{size: 3, maxlength: 3}) %></td>
                    <td><%= submit_tag("Change") %></td>
                    <td><%= hidden_field_tag("pk",tbl.id,) %></td>
                    <td><%= hidden_field_tag("cscorder_id",tbl.cscorder_id,) %></td>
                </tr>
            <% end %>
        
        <% end %>

</table>







                    