<%= render 'layouts/header' %>


<!--Actions bar -->
<table class="table_actionbar">
  <tr>
    <td style="width:33%"><strong>Actions:</strong></td>
    <td style="width:33%"><%=button_to "Back", user_index_path, {:method => :get, style: "width:100%"} %></td>
    <td style="width:33%"></td>
  </tr>
</table>

<!--Header -->
<p class="p1">Menus for Store: <%= session[:storeid] %>, <%= session[:storename] %></p>


<!-- Order data -->
<table class="table2">
    
    <col style="width:10%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    
    <tr class="tableheader1">
        <th>Menu</th>
        <th>Wh Delivery Date</th>
        <th>Day of week</th>
        <th>Status</th>
        <th>Submitted Date</th>
        <th>By</th>
        <th>Options</th>
    </tr>
  
    <% @t.each do |tbl| %>
        <tr>
            <td><%=tbl.mcode%></td>
            <td><%=tbl.dte.strftime("%m/%d/%y")%></td>
            <td><%=tbl.dow%></td>
            <td><%=set_ordsts_txt(tbl.ordsts)%></td>
            <td><%=format_datetime_as_EST(tbl.submitted_dte)%></td>
            <td><%=tbl.submitted_by%></td>
            <td><%= link_to "View", edit_cscorder_path(id: tbl.id), {method:"get"} %> </td>
        </tr>
        <% end %>
        
</table>

        

