<%= render 'layouts/header' %>
<%= render 'layouts/header_userinfo' %>

<!--  dropdown for categories -->
<table class="border1"; width="45%">
  <tr>
    <%= form_tag(recipe_index_path, method: 'get') do %>
      <td><p class='p1'>Category: <%= select_tag('category',options_from_collection_for_select(@category,'category_name','category_name',session[:category_def]), :class => 'p1') %></p> </td>
      <td><%= submit_tag 'Refresh',class: 'btn_med'  %></td>
    <% end %>
  </tr>  
</table>



<table class="table2">
  <col style="width:30%">
  <col style="width:10%">
  <col style="width:50%">
  <col style="width:5%">
  <col style="width:5%">
  <col style="width:5%">
  
  <tr class="tableheader1">
    <th>CATEGORY</th>
    <th>RECIPE</th>
    <th>DESCRIPTION</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @t_recipe.each do |tbl| %>
    <tr>
      <td><%=tbl.catid %></td>
      <td><%=tbl.rid %></td>
      <td><%=tbl.rid_desc %></td>
      <td><%= button_to 'Print Labels', recipe_path(id:0),{method:"get",params:{rid: tbl.rid,typ: 1}}  %></td>
      <td><%= button_to 'Recipe',recipe_path(id:0),{method:"get",params:{rid: tbl.rid,typ: 2}}  %></td>
      <td><%= button_to 'Nutritionals', recipe_path(id:0),{method:"get",params:{rid: tbl.rid,typ: 3}}  %></td>
    </tr>
  <% end %>
  
  
</table>
