<%= render 'layouts/header2' %>
<%= render 'layouts/header_recipe' %>

<table width="100%">
  <tr><td align="right"><%= button_to("Print", recipe_path,{class: 'btn_med'}) %></td></tr>
</table>


<!--Serving Info -->
  <p class="sectionheader">Serving Info:</p>
  
  <table class="table2">
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:20%">
    
    <tr class="tableheader1">
      <th>Serving Size</th>
      <th>Recipe Yield</th>
      <th>Batch Yield</th>
      <th>Shelf Life</th>
      <th>Product Num</th>
    </tr>
    
    <% @t_recipe.each do |tbl| %>
      <tr>
        <td><%=tbl.ser_size %></td>
        <td><%=tbl.yld  %></td>
        <td><%=tbl.batch_yld %></td>
        <td><%=tbl.shelf_life %></td>
        <td><%=tbl.productnum%></td>
      </tr>
    <% end %>
  </table>
<p class="whitespace10px"></p>  
<p class="whitespace10px"></p>  


<!--Nutritionals1 -->
  <p class="sectionheader">Nutritionals:</p>
  
  <table class="table2">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    
    <tr class="tableheader1">
      <th>Calories</th>
      <th>Total Fat (g)</th>
      <th>%Calories from Fat</th>
      <th>Saturated fat (g)</th>
      <th>%Calories from Saturated Fat</th>
      <th>Trans Fat (g)</th>
    </tr>
    
    <% @t_recipe.each do |tbl| %>
      <tr>
        <td><%=tbl.calories %></td>
        <td><%=tbl.tfat %></td>
        <td><%=tbl.cfrmfat %></td>
        <td><%=tbl.satfat %></td>
        <td><%=tbl.calfrmsatfat%></td>
        <td><%=tbl.transfat %></td>
    </tr>
    <% end %>
  </table>


<!--Nutritionals2 -->
  <p></p>
  
  <table class="table2">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    <col style="width:15%">
    
    <tr class="tableheader1">
      <th>Cholesterol (mg)</th>
      <th>Sodium (mg)</th>
      <th>Total Carb (g)</th>
      <th>Fiber (g)</th>
      <th>Sugar (g)</th>
      <th>Protein (g)</th>
    </tr>
    
    <% @t_recipe.each do |tbl| %>
      <tr>
        <td><%=tbl.cholesterol %></td>
        <td><%=tbl.sodium %></td>
        <td><%=tbl.totalcarb %></td>
        <td><%=tbl.fiber %></td>
        <td><%=tbl.sugar %></td>
        <td><%=tbl.protein %></td>
    </tr>
    <% end %>
  </table>
<p class="whitespace10px"></p>  
<p class="whitespace10px"></p>  


<!--Allergens -->
  <p class="sectionheader">Allergens: </p>  
  <table class="table2">
    <col style="width:12%">
    <col style="width:12%">
    <col style="width:12%">
    <col style="width:12%">
    <col style="width:12%">
    <col style="width:12%">
    <col style="width:12%">
    <col style="width:12%">
   
    
    <tr class="tableheader1">
      <th>Egg</th>
      <th>Shellfish</th>
      <th>Fish</th>
      <th>Soy</th>
      <th>Milk</th>
      <th>Tree Nuts</th>
      <th>Peanuts</th>
      <th>Wheat</th>
    </tr>
    
    <% @t_recipe.each do |tbl| %>
      <tr>
        <td><%=tbl.alg_egg %></td>
        <td><%=tbl.alg_shellfish %></td>
        <td><%=tbl.alg_fish %></td>
        <td><%=tbl.alg_soy  %></td>
        <td><%=tbl.alg_milk %></td>
        <td><%=tbl.alg_treenuts %></td>
        <td><%=tbl.alg_peanuts %></td>
        <td><%=tbl.alg_wheat %></td>
      </tr>
    <% end %>
  </table>
<p class="whitespace10px"></p>  
<p class="whitespace10px"></p>  

<!--Ingredients List -->
  <p class="sectionheader">Ingredients List: </p>  
  <table class="table2">
    <col style="width:100%">
   
    <% @t_recipe.each do |tbl| %>
      <tr>
        <td><%=tbl.ingredient_list %></td>
      </tr>
    <% end %>
  </table>


