<style>
    .Utr{border-collapse:collapse; padding:5px; background-color: red; color: white; height: 20px;}
    .Utc1{width:5%;font-weight:bold; text-align: left;}
    .Utc2{width:5%;font-weight:bold; text-align: right;}
    .Utc3{width:5%;font-weight:bold; text-align: center;}

    .tx {text-align: center;}
    .tr{border-collapse:collapse; padding:0px;}
    .tc1{width:2%; text-align:left;}
    .tc2{width:10%; font-weight:bold; font-size:xx-large;}
    .tc3{width:5%; font-size:x-large;}    
</style>


<table class="tx">
    <tr class="tr">
        <td class="tc1"><%= image_tag("AVI_Logo.jpg", alt: "avi logo", height: "60", width: "125") %></td>
        <td class="tc2">Fresh at Hand Recipe Viewer/ADMIN</td>
        <td class="tc3"><%=link_to "Home", admin_index_path, :method => :get %></td>
        <td class="tc3"><%=link_to "Logout", root_path, :method => :get %></td>
</table>
   

<% if flash[:notice] %>
  <p class="p_alert1"><%= flash[:notice] %></p>
  <% flash[:notice]=nil %>
 <% else %>
     <p></p>
<% end %>




<table>
   <tr class="Utr">
       <td class="Utc1">User: <%=session[:u]%></td>
       <td class="Utc3">Administration/Maintenance</td>
       <td class="Utc2">Last Update: <%=session[:last_update]%></td>
   </tr> 
</table>

